

.container{
   margin-top: 40px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 100%;
  width: 761px;
  height: 470px;
  border-radius:15px;
  background-color: rgb(255, 255, 255);
  
  
}
.A{
   margin-left: 45px;
   margin-bottom: 90px;
}
.peolpe{
   margin-bottom: 16px;
   
}
.yes:hover {
   background-color: #50e4e4;
}
.yes{
   display: block;
   width: 157px;
   height: 36px;
   background-color: #4DD9D8;
   line-height:36px;
   
   color: rgb(255, 255, 255);
   text-align:center;
   border-radius:6px;
   text-decoration: none;
   border-bottom: none;
}
.no:hover {
   background-color: rgb(134, 135, 135);
}
.no{
   display: block;
   width: 157px;
   height: 36px;
   background-color:  #b0b1b3;
   line-height:36px;
   margin-top: 20px;
   color: rgb(255, 255, 255);
   text-align:center;
   border-radius:6px;
   text-decoration: none;
   border-bottom: none;
}
.Main {
    display: flex;
    align-items:flex-end;
 }
 .personal{
   font-weight:bold;
 }
 
 
.lau{
   display: flex;
  
}

 .password{
   display: flex;
  

}

 .left{
   width: 173px;
   height: 364px;
   line-height: 35px;

   padding-bottom: 18px;
   margin-left: 68px;
   margin-top: 19px;
   margin-bottom: 10px;

 }

 .right{
    width: 234px;
    height: 364px;
    padding-top: 27px;
    line-height: 35px;
    margin-bottom: 4px;
    margin-left: 54px;
    
    margin-top: 19px;
 
 }
 .f{
    margin-right: 10px;
 }
 .t{
   margin-right: 10px;
 }
 .N{
    margin-right: 46px;
 }
.job1{
   width: 234px;
   height: 32px;

}
.p{
   margin-top: 2px;
}
    
  
.ok:hover {
   background-color:#50e4e4;
}
.ok{
   background-color:   #4DD9D8;
   display: block;
   color: rgb(255, 255, 255);
   width: 430px;
   height: 30px;
   line-height:30px;
   text-align:center;
   margin-left: 273px;
   justify-content:flex-start;
   border-radius:6px;
   text-decoration: none;
   
   border-bottom: none;
}
.other1{
   color: red;
}

 .lau{
    width: 761px;
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius:6px;
 }
 .ch{
    margin-right: 10px;
 }
 .en{
   margin-right: 10px;
}
 .setting{
    padding-left: 45px;
    margin-right: 25px;
 }
 .C{
    margin-right: 25px;
 }
 
 .password{
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    width: 761px;
   }
.code{
   margin: 0;
   justify-content:flex-end; 
}
 
 .change:hover {
   background-color:#50e4e4;
}
 .change{
   background-color:   #4DD9D8;
   display: block;
   color: rgb(255, 255, 255);
    width: 302px;
    height: 30px;
    line-height: 30px;
    margin-left: 40px;
    text-align:center;
    text-decoration: none;
   border-radius:6px;
   border-bottom: none;
 }
 .late{
    font-size: 0.8em;
    color: rgb(125, 123, 123);
    margin: 0;
    width: 237px;
    display: flex;
    align-items:flex-end;
    
    padding-left: 20px;
 }
